#rpaddle {
    color:aquamarine;
    background-color: rgb(8, 78, 139);
    width: 15px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    border: 3px blue;
    border-radius: 0px;
    position: absolute;
    top: 40%;
    left: 95%;
}

#field  {
    color: green;
    background-color: rgb(7, 72, 85) ;
    width: 90vw;
    height: 90vw;
    margin: auto;
    padding: 20px;
    border: 12px pink; 
}

#ball  {
    color:greenyellow;
    background-color: rgb(73, 241, 79);
    width: 30px;
    height: 30px;
    margin:  0px;
    padding:  0px;
    border:  2px blue;
    border-radius:20px;
    position: relative;
    top: 50%;
    left: 50%;
}


#lpaddle  {
    color:aquamarine;
    background-color:yellow ;
    width: 15px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    border: 2px blue;
    border-radius: 0px;
    position: absolute;
    top: 40%;
    left:5%;
}